#header{
    background: #123456;
}
.mdl-cell{
    float: left;
}
body{
    background: #eaeaea;
}
.article_list,.post_list{
    padding: 10px;
    color: #5a5a5a;
    min-height: 20px;
    font-size: 14px;
    list-style-type: none;
}
.article_list>span{
    margin:5px;
}
.post_list>span>a{
    text-decoration: none;
    color: inherit;
}
.post_list:hover{
    background: #acacac;
    color: #fff;
}
.article_list:hover{
    cursor: pointer;
}
.left-part{
    background:inherit;
    margin:0px;
    color: 5a5a5a;
}
.left-part>h5{
    margin: 24px 16px;
}
.article_list>ul{
    display: none;
}
.folder{
    float: left;
}
.right-part{
    padding-left: 30px;
    margin:0px;
}
img{
    width: 95%;
}
.project{
    box-shadow: 0px 2px 3px #cacaca;
    padding: 10px;
    background: #fff;
}
.icons{
    margin-right: 10px;
}
@media only screen and (max-width:840px){
    .left-part,.mdl-cell--9-col{
        height: auto;
        padding-left: 10px;
    }
}